# Python Virtual Environment
myenv/
.venv/

# Byte-compiled files
__pycache__/
*.pyc

# P&L Logs and Plots
pnl_log.json
pnl_plot.png
plots/

# Environment variable file (contains API Key)
.env